body {
    margin: 0;
    background: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}
    
h3 {
    color: #EEEEEE;
    font-family: Verdana, serif;
    font-weight: 800;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: fit-content;
    border: 10px solid #999;
    border-radius: 8px;
    padding: 0 0 60px 0;
    background: #1B244A;
    margin: 60px;
}

.team {
    text-align: center;
}

#home-marks, #guest-marks {
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;                                      
    font-weight: 400;
    font-size: 90px;
    padding: 12px 60px 4px 60px;
    background-color: #080001;
    border-radius: 4px;
    margin: 0 40px 40px 40px;
    min-width: 180px;
}

button {
    padding: 6px 16px;
    color: #9AABD8;
    background-color: #1B244A;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: 2px solid #9AABD8;
    border-radius: 4px;
    margin: 0 8px;
    cursor: pointer;
}
